{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}

<h1>Nouveau mémo</h1>

{{ form_start(form)}}

{{ form_row(form.contenu)}}
{{ form_row(form.delaiExpiration)}}

<button type="submit" class="mt-2 btn btn-success">Créer</button>

{{ form_end(form)}}

{% endblock %}