{% extends 'base.html.twig' %}

{% block body %}

<article>
  <h2>Contenu expiré</h2>
  <div class="content">
    Désolé, le mémo associé à cette URL n'est plus accessible.
  </div>
</article>

{% endblock %}